body {
  display: flex;
  justify-content: center;
}
div.nav {
  position: fixed;
  bottom: 1rem;
  margin: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  color: black;
  border-radius: 1rem;
  box-shadow: 0px 0px 16px rgba(55, 130, 171, 0.2);
  width: 90%;
  z-index: 50;
  max-width: 680px
}
div.navItem {
  width: 80px;
  padding: 1rem 0.8rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
div.navIcon {
  padding-bottom: 0.25rem;
}
.isActive {
  color: #F6B14D;
}
.isInactive {
  color: #aaa;
}
p.nav {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  margin: 0rem 0rem 0rem 0rem;
  text-align: center;
}
div.contentContainer {
  width: 100%;
  max-width: 680px;
  margin-bottom: 120px;
}
div.header {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}
h1 {
  font-family: "Sansita", serif;
  margin: 0px;
  color: #000;
  text-align: center;
}
div.modelViewer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}
model-viewer {
  max-width: 400px;
  height: 300px;
  margin: 0 auto;
}
button.arButton {
  background-color: #4D91F6;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
div.navigationButtons {
  display: flex;
  justify-content: space-evenly;
}
div.navigationButton {
  background-color: #F6B14D;
  border-radius: 8px;
  box-shadow: 2px 2px 20px rgba(39, 4, 59, 0.171);
  padding: 0.8rem 1.2rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
a {
  text-decoration: none;
}
p.button {
  font-family: "Montserrat", sans-serif;
  margin: 0.2rem;
}
div.textContainer {
  background-color: #E4F1FE;
  border-radius: 8px;
/*   box-shadow: 2px 2px 20px rgba(39, 4, 59, 0.171); */
  padding: 1.5rem 2rem;
  margin: 0.5rem;
}
h2 {
  font-family: "Sansita", serif;
  margin: 0px;
  color: #000;
}
h3 {
  font-family: "Sansita", serif;
  margin: 0px;
  color: #000;
}
p.body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  margin: 0.5rem 0rem 0rem 0rem;
  color: #000;
}
